::ng-deep .p-dialog-header {
    padding: 0px;
  }
  
  ::ng-deep .p-dialog-content {
    padding: 0px;
    margin-top: -20px;
  }
  
  ::ng-deep .p-dialog .p-dialog-footer {
    margin: 0px;
  }
  // .filterBTN .p-button {
  //   background-color: var(--theme-light-blue-color);
  //   color: var(--bg-dark-gray);
  // }
  