<!-- <div class="ag-theme-alpine" style="height: 100%; width: 100%;">
    <ag-grid-angular [rowData]="rowData" [loading]="loading" [rowHeight]="30" (rowClicked)="editRequested.emit($event.data);"
                     [columnDefs]="columnDefs"
                     [paginationPageSize]="paginationPageSize"
                     [pagination]="true"
                     [overlayLoadingTemplate]="loading ? 'Loading...' : null"
                     (gridReady)="onGridReady($event)"
                     style="width: 100%; height: 88vh;"
                     class="ag-theme-alpine"
                     [paginationPageSizeSelector]="false"
                     [defaultColDef]="{ flex: 1, minWidth: 100, sortable: true, filter: true,resizable: true }"
                     [animateRows]="true">
    </ag-grid-angular>
</div>
 -->
