<div style="width: 100%; height: 100%; margin-top: -10px" class="relativePosition">
    <p-card class="col-12 p-0 removePCardPadding bg-none">
      <ag-grid-angular 
        #agGrid
        style="width: 100%; height: 75vh;" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="filteredInventories"
        [overlayNoRowsTemplate]="'No records found'"
        [paginationPageSize]="pageSize"
        (gridReady)="onGridReady($event)"
        [quickFilterText]="searchTerm"
        [defaultColDef]="{
          flex: 1,  
          sortable: true, 
          minWidth: 150,
          filter: true, 
          resizable: true
        }"
        [animateRows]="true"
        [rowDragManaged]="true">
      </ag-grid-angular>
      <div class="pagination-block">
        <div>
            <span class="labeltxt">Total Records:</span> {{totalRecords ? totalRecords : 0}}
        </div>
      </div>
    </p-card>
</div>
