<div style="width: 100%; height: 100%; margin-top: -10px" class="relativePosition">
  <p-card class="col-12 p-0 removePCardPadding bg-none">
    <!-- AG-Grid Component -->
    <!-- on cellValueChanged Added -->
    <ag-grid-angular #agGrid style="width: 100%; height: 75vh" class="ag-theme-alpine" [columnDefs]="columnDefs"
      [rowData]="filteredMaterials" [overlayNoRowsTemplate]="'No records found'" [paginationPageSize]="pageSize"
      (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)" [quickFilterText]="searchTerm"
      [defaultColDef]="{
        flex: 1,
        minWidth: 150,
        sortable: true,
        filter: true,
        resizable: true
      }" [animateRows]="true" [rowDragManaged]="true">
    </ag-grid-angular>

    <!-- added pagination block -->
    <div class="pagination-block">
      <div>
        <!-- Total Records Display -->
        <span class="labeltxt">Total Records:</span>
        {{ totalRecords ? totalRecords : 0 }}
      </div>
      <div>
        <p-button label="Cancel" (click)="resetChanges()" [disabled]="!hasEditedRows" [outlined]="true"></p-button>
        <p-button label="Save" (click)="saveChanges()" [disabled]="!hasEditedRows" class="ml-2"></p-button>
      </div>
    </div>
  </p-card>
</div>
<app-custom-dialog [(visible)]="showEditConfirmationDialog" [dialogTitle]="'Confirm Raw Data Edits'"
  [savebuttonName]="'Save'" (onCreateEvent)="onUpdateDetails()" [dialogWidth]="'400px'" [maximizable]="false"
  (onClose)="closeDialog()">

  <p>You are attempting to save changes to the Raw Data.
    If this correct, click Save, otherwise click Cancel</p>
</app-custom-dialog>