/*::ng-deep .p-dialog .p-dialog-header {
  padding: 0 0 15px 0;
}
.row-style {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 1% 1%;
  flex: 1 1 5%;
}*/
.dim-style {
  flex: 1 1 25%;
  padding: 1% 1%;
  box-sizing: border-box;
}
/*.row-style {
  flex: 1 1 10%;
  padding: 1% 5%;
  box-sizing: border-box;
}


.record-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.p-fluid .p-field {
  margin-right: 15px;
}*/
