<div style="width: 100%;height:100%;" class="mt-1">
    <p-card class="col-12 p-0 removePCardPadding bg-none">
        <ng-container>
            <app-odin-completion-ddl (valuesChanged)="updateValues($event)"
                [selectedFunction]="selectedRawView"></app-odin-completion-ddl>
        </ng-container>
        <ng-container *ngIf="dropdownValue === 'MITI'">
          <app-odin-completion-miti></app-odin-completion-miti>
        </ng-container>

        <ng-container *ngIf="dropdownValue === 'Automatic Read Inventory'">
            <!-- Read Inventory -->
            <app-odin-inventory [text]="textValue" [dropdownValue]="dropdownValue"></app-odin-inventory>
        </ng-container>

    </p-card>
</div>

<div class="centerContent tab-menu" [style]="currentBreakpoint == Breakpoints.Large ? '': 'left: 325px;'">
    <app-odin-tab [selectedFunction]="selectedRawView"></app-odin-tab>
</div>