// .list-editor-dialog {
//   width: 90% !important;
// }

.dialog-body-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section-container {
  margin-right: 0.5rem; // same as mr-2
}

.search-button-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.search-input {
  width: 80%;
  height: 27px;
  margin-right: 1px;
}

.add-button {
  width: 10px !important;
  display: flex !important;
  justify-content: center !important;
}

.delete-button {
  padding: 2px 8px;
  font-size: 86px;
  /* This value seems unusually large. Confirm if it's correct. */
  background: none !important;
  border: none !important;
  color: #97002e !important;
}

.delete-icon {
  font-size: 20px;
}

.ag-grid-table {
  width: 100%;
  height: 70vh;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.grid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.grid-section {
  margin-right: 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.trash-icon {
  font-size: 20px;
}

.p-trash-btn {
  padding: 2px 8px;
  font-size: 86px;
  background: none !important;
  border: none !important;
  color: #97002e !important;
}