::ng-deep .p-card{
    box-shadow: none!important;
}
::ng-deep .set-ptb-10 .p-multiselect{
    width: 100%;
}
::ng-deep .p-card{
    box-shadow: none!important;
}
.align-end{
    margin-left: auto;
}
::ng-deep .set-ptb-10 .p-card-body{
    padding-left: 0;
}
// ::ng-deep .p-dialog-header {
//     padding: 0px;
//   }
  
//   ::ng-deep .p-dialog-content {
//     padding: 0px;
//     margin-top: -20px;
//   }
  
//   ::ng-deep .p-dialog .p-dialog-footer {
//     margin: 0px;
//   }

