
<p-dialog [(visible)]="displayDeleteComponentDialog" [modal]="true" [style]="{ width: '400px' ,height:'200px' }" [closable]="false">
    <div class="dialog-header">
        <h3 class="dialog-heading">{{dialogTitle}}</h3>
        <button class="dialog-header-close-btn" pButton icon="pi pi-times" (click)="onClose.emit()"></button>
    </div>
    <div class="pl-4 pt-6 parentDiv">
        <i class="pi pi-info-circle iconSize"></i>
        <!-- <span class="ml-2">{{dialogContent}} </span> -->
        <span class="ml-2" [innerHTML]="dialogContent"></span>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton class="p-button-outlined mb-1" label="Cancel" (click)="onCancel()"></button>
        <button type="button" pButton class="delete-action-btn mt-2" [label]="buttonName" (click)="deleteDocument()"></button>
    </ng-template>
</p-dialog>


