<p-dialog [(visible)]="displayDeleteComponentSchemanticDialog" [modal]="true" [style]="{ width: '400px' }" [closable]="false">
  <div class="dialog-header">
    <h3  class="dialog-heading">Delete Component</h3>
    <button class="dialog-header-close-btn" pButton icon="pi pi-times" (click)="cancelComponents()"></button>
  </div>
  <div class="pl-4 pt-6 pb-6 parentDiv"> <i class="pi pi-info-circle iconSize"></i><span class="ml-2">Are you sure you want to delete ? </span></div>
  <ng-template pTemplate="footer">
    <button type="button" pButton class="p-button-outlined mb-1" label="Cancel" (click)="cancelComponents()"></button>
    <button type="button" pButton class="delete-action-btn mt-2" label="Delete" (click)="deleteComponents()"></button>
  </ng-template>
</p-dialog>
