<div id="access-denied" class="container-fluid">
  <div class="row">
    <div class="full-width-content text-center no-load">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.638 392.614" class="mb-4">
        <g id="Group_7179" data-name="Group 7179" transform="translate(-735 -477)">
          <circle id="Ellipse_419" data-name="Ellipse 419" cx="17.382" cy="17.382" r="17.382"
            transform="translate(774.711 824.798)" fill="#b5c1d2" />
          <g id="access-denied">
            <path id="Path_31005" data-name="Path 31005"
              d="M-4734.332-2776.723c100.589,34.134,115.2,172.448,100.942,207.136s-32.749,117.411-203.537,137.417c-130.821,6.014-188.4-36.284-227.372-145.5-21.931-115.458,83.589-159.319,83.589-159.319S-4834.922-2810.857-4734.332-2776.723Z"
              transform="matrix(0.999, -0.035, 0.035, 0.999, 5896.432, 3122.899)" fill="#e2ebf3" />
            <path id="Path_31006" data-name="Path 31006"
              d="M-4975.169-2735.5s-43.355,5.138-20.554-27.3,93.455-60.055,118.184-57.486,15.415,18.626-8.35,53.953S-4975.169-2735.5-4975.169-2735.5Z"
              transform="translate(5737.484 3297.447)" fill="#e2ebf3" />
            <g id="Ellipse_418" data-name="Ellipse 418" transform="translate(1113.146 528.932)" fill="#b5c1d2"
              stroke="#f3f6f9" stroke-width="20">
              <circle cx="33.315" cy="33.315" r="33.315" stroke="none" />
              <circle cx="33.315" cy="33.315" r="23.315" fill="none" />
            </g>
            <g id="Group_7147" data-name="Group 7147">
              <g id="Group_7144" data-name="Group 7144" transform="translate(18172.523 -3817.604)">
                <path id="Shape"
                  d="M295.272,257.973H68.377A68.737,68.737,0,0,1,20.027,238.4a65.757,65.757,0,0,1,0-94.5,68.737,68.737,0,0,1,48.35-19.573c1.571,0,3.179.055,4.778.162a106.668,106.668,0,0,1-1.667-18.809A105.684,105.684,0,0,1,239.465,20.31a105.915,105.915,0,0,1,37.9,51.7,97.519,97.519,0,0,1,10.137-.526,95.564,95.564,0,0,1,36.9,7.327A94.584,94.584,0,0,1,354.533,98.8a92.86,92.86,0,0,1,20.316,29.638,91.348,91.348,0,0,1,7.45,36.295,92.49,92.49,0,0,1-25.243,63.475,94.908,94.908,0,0,1-61.784,29.7v.067Z"
                  transform="translate(-17418.982 4363.193)" fill="#f3f6f9" stroke="#b5c1d2" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="20" />
                <circle id="Oval" cx="17.095" cy="17.095" r="17.095" transform="translate(-17243.359 4543.463)"
                  fill="#7687a5" />
                <path id="Line" d="M0,33.326,21.757,16.253,0,0" transform="translate(-17274.441 4491.488)" fill="none"
                  stroke="#7687a5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  stroke-width="15" />
                <path id="Line-2" data-name="Line" d="M14.757,33.326-7,16.253,14.757,0"
                  transform="translate(-17192.848 4491.488)" fill="none" stroke="#7687a5" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="15" />
                <path id="Oval-2" data-name="Oval" d="M-14.566.133C5.664,5.487,22.9,23.765,30.535,41.345"
                  transform="translate(-17202.301 4390.274)" fill="none" stroke="#e2ebf3" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="10" />
              </g>
              <circle id="Oval-3" data-name="Oval" cx="4.397" cy="4.397" r="4.397"
                transform="translate(1024.059 549.406)" fill="none" stroke="#b5c1d2" stroke-miterlimit="10"
                stroke-width="2" />
              <circle id="Oval-4" data-name="Oval" cx="4.709" cy="4.709" r="4.709"
                transform="translate(1073.422 578.567)" fill="#7687a5" />
              <circle id="Oval-5" data-name="Oval" cx="4.709" cy="4.709" r="4.709"
                transform="translate(795.422 617.087)" fill="#7687a5" />
              <path id="Line_5" data-name="Line 5"
                d="M6.947,6.7l-6.739,6.5L6.947,6.7,0,0,6.947,6.7,13.895,0,6.947,6.7l6.739,6.5Z"
                transform="translate(1042.684 574.778)" fill="#b5c1d2" stroke="#b5c1d2" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4" />
              <path id="Line_5-2" data-name="Line 5"
                d="M6.947,6.7l-6.739,6.5L6.947,6.7,0,0,6.947,6.7,13.895,0,6.947,6.7l6.739,6.5Z"
                transform="translate(778.199 637.778)" fill="#f5f5f5" stroke="#b5c1d2" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4" />
            </g>
            <circle id="Ellipse_444" data-name="Ellipse 444" cx="5" cy="5" r="5" transform="translate(1000.469 622.252)"
              fill="#e2ebf3" />
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>


<ng-template #accessDeniedDialog>
  <div class="content max-mat-dialog-content p-10" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-content">
      <div class="modal-body text-center pt-4 pb-3 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.638 392.614" width="60" class="mb-4">
          <g id="Group_7179" data-name="Group 7179" transform="translate(-735 -477)">
            <circle id="Ellipse_419" data-name="Ellipse 419" cx="17.382" cy="17.382" r="17.382"
              transform="translate(774.711 824.798)" fill="#b5c1d2" />
            <g id="access-denied">
              <path id="Path_31005" data-name="Path 31005"
                d="M-4734.332-2776.723c100.589,34.134,115.2,172.448,100.942,207.136s-32.749,117.411-203.537,137.417c-130.821,6.014-188.4-36.284-227.372-145.5-21.931-115.458,83.589-159.319,83.589-159.319S-4834.922-2810.857-4734.332-2776.723Z"
                transform="matrix(0.999, -0.035, 0.035, 0.999, 5896.432, 3122.899)" fill="#e2ebf3" />
              <path id="Path_31006" data-name="Path 31006"
                d="M-4975.169-2735.5s-43.355,5.138-20.554-27.3,93.455-60.055,118.184-57.486,15.415,18.626-8.35,53.953S-4975.169-2735.5-4975.169-2735.5Z"
                transform="translate(5737.484 3297.447)" fill="#e2ebf3" />
              <g id="Ellipse_418" data-name="Ellipse 418" transform="translate(1113.146 528.932)" fill="#b5c1d2"
                stroke="#f3f6f9" stroke-width="20">
                <circle cx="33.315" cy="33.315" r="33.315" stroke="none" />
                <circle cx="33.315" cy="33.315" r="23.315" fill="none" />
              </g>
              <g id="Group_7147" data-name="Group 7147">
                <g id="Group_7144" data-name="Group 7144" transform="translate(18172.523 -3817.604)">
                  <path id="Shape"
                    d="M295.272,257.973H68.377A68.737,68.737,0,0,1,20.027,238.4a65.757,65.757,0,0,1,0-94.5,68.737,68.737,0,0,1,48.35-19.573c1.571,0,3.179.055,4.778.162a106.668,106.668,0,0,1-1.667-18.809A105.684,105.684,0,0,1,239.465,20.31a105.915,105.915,0,0,1,37.9,51.7,97.519,97.519,0,0,1,10.137-.526,95.564,95.564,0,0,1,36.9,7.327A94.584,94.584,0,0,1,354.533,98.8a92.86,92.86,0,0,1,20.316,29.638,91.348,91.348,0,0,1,7.45,36.295,92.49,92.49,0,0,1-25.243,63.475,94.908,94.908,0,0,1-61.784,29.7v.067Z"
                    transform="translate(-17418.982 4363.193)" fill="#f3f6f9" stroke="#b5c1d2" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="20" />
                  <circle id="Oval" cx="17.095" cy="17.095" r="17.095" transform="translate(-17243.359 4543.463)"
                    fill="#7687a5" />
                  <path id="Line" d="M0,33.326,21.757,16.253,0,0" transform="translate(-17274.441 4491.488)" fill="none"
                    stroke="#7687a5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    stroke-width="15" />
                  <path id="Line-2" data-name="Line" d="M14.757,33.326-7,16.253,14.757,0"
                    transform="translate(-17192.848 4491.488)" fill="none" stroke="#7687a5" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" stroke-width="15" />
                  <path id="Oval-2" data-name="Oval" d="M-14.566.133C5.664,5.487,22.9,23.765,30.535,41.345"
                    transform="translate(-17202.301 4390.274)" fill="none" stroke="#e2ebf3" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="10" />
                </g>
                <circle id="Oval-3" data-name="Oval" cx="4.397" cy="4.397" r="4.397"
                  transform="translate(1024.059 549.406)" fill="none" stroke="#b5c1d2" stroke-miterlimit="10"
                  stroke-width="2" />
                <circle id="Oval-4" data-name="Oval" cx="4.709" cy="4.709" r="4.709"
                  transform="translate(1073.422 578.567)" fill="#7687a5" />
                <circle id="Oval-5" data-name="Oval" cx="4.709" cy="4.709" r="4.709"
                  transform="translate(795.422 617.087)" fill="#7687a5" />
                <path id="Line_5" data-name="Line 5"
                  d="M6.947,6.7l-6.739,6.5L6.947,6.7,0,0,6.947,6.7,13.895,0,6.947,6.7l6.739,6.5Z"
                  transform="translate(1042.684 574.778)" fill="#b5c1d2" stroke="#b5c1d2" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4" />
                <path id="Line_5-2" data-name="Line 5"
                  d="M6.947,6.7l-6.739,6.5L6.947,6.7,0,0,6.947,6.7,13.895,0,6.947,6.7l6.739,6.5Z"
                  transform="translate(778.199 637.778)" fill="#f5f5f5" stroke="#b5c1d2" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4" />
              </g>
              <circle id="Ellipse_444" data-name="Ellipse 444" cx="5" cy="5" r="5"
                transform="translate(1000.469 622.252)" fill="#e2ebf3" />
            </g>
          </g>
        </svg>
        <span class="mb-4 message-text" style="padding-bottom:2rem;">
          Sorry, you are not authorized to use this feature.
        </span>
        <div class="mt-4 mb-0">
          <button mat-raised-button (click)="onDismiss()" class="iq-btn iq-btn--primary">
            <span>Ok</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
