.text-decoration-black {
    color: #000000;
  }
  
//   .center {
//     text-align: center;
//   }
  
//   .relativePosition {
//     position: relative;
//     z-index: 1;
//   }
  
  .p-dropdown.custom-dropdown .p-dropdown-label {
    width: 200px !important;
  }
  .p-dropdown.custom-dropdown {
    width: 200px !important;
  }
  