.ag-theme-alpine  .ag-tooltip{
    background-color: #0f1014;
    color: #fefeff;
    width: 150px;
    border-radius: 2px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #545454;
    flex-wrap: wrap;
  }