
<p-dialog [(visible)]="displayImportDepthTableDialog" [modal]="true" [style]="{ width: '40vw' }" [closable]="false">
    <div class="dialog-header">
        <h3  class="dialog-heading">Import Depth Table</h3>
        <button class="dialog-header-close-btn" pButton icon="pi pi-times" (click)="closeImportDepthTable()"></button>
    </div>
    <ng-template pTemplate="body">
        <div class="upload-dialog-body">
            <p>
                To add your depth table calculations, either drag your file into the space below or click choose file:
                <br><a href="assets/templates/DepthTable.xlsx" download="DepthTable.xlsx" style="cursor:pointer;" class="template-link">Download template</a>.
            </p>
            <input class="file-upload" #fileInput pInputText
                   type="file" accept=".xlsx, .xls"
                   pTooltip="Drag and Drop your file here, or click to browse"
                   (change)="onFileSelected($event)" />
          
            <button pButton (click)="onUpload()" class="upload-button" [disabled]="!isFileValid">Upload</button>
        </div>
    </ng-template>
    <p-footer>
        <button pButton type="button" label="Close" icon="pi pi-times" (click)="onClose.emit()"></button>
    </p-footer>
</p-dialog>
